/* Navbar section responsive */

@media screen and (max-width:576px){
    .navbar{
        margin: 30px 10px;
    }
    .logo h2{
        font-size: 1.2rem;
        font-weight: 800;
    }
    .nav-item ul{
        display:none;
    }
    .navbar i{
        display: block;
    }

    /* Banner section */
    .Explore-container{
       margin: 0 10px;
    }
    .explore-input{
        flex-direction: column;
        gap: 30px;
        width: 70vw;
        margin: 0 auto;
        
    }
    input ,select ,button{
        width: 60vw;
    }
    .explore-content h3{
        font-size: 2rem;
    }

    /* destination section */
    .Destination-container{
        margin: 0 10px;
    }
    .row1 ,.row2 ,.row3{
        grid-template-columns: repeat(1,1fr);
    }



    /* Popular section */
    .popular-container{
        flex-direction: column;
        margin: 50px 10px;
    }
    .popular-text{
        width: 100%;
    }
    .popular-btn{
        width: 120px;
        height: 35px;
    }
    /* choose section */
    .choose-container{
        margin: 0 10px;
        margin-top: 50px;
    }
    .choose-card{
        grid-template-columns: repeat(1,1fr);
    }

    /* perfect section start */
    .perfect-container{
        margin: 0 10px;
        margin-top: 80px;
        flex-direction: column;
    }
    .perfect-text{
        width: 100%;
        margin-bottom: 30px;
    }

    /* newsletter section */
    .newsletter-container{
        margin: 0 10px;
        margin-top: 80px;
        flex-direction: column;
    }
    .save-up{
        font-size: 1.2rem;
        font-weight: 700;
    }
    
    .newsletter-img-btn{
        width: 150px;
        height: 50px;
    }

    

}